@Html.Partial("~/Views/Modals/_Register.cshtml")
@Html.Partial("~/Views/Modals/_Login.cshtml")
@Html.Partial("~/Views/Modals/_CreatePost.cshtml")
@Html.Partial("~/Views/Modals/_Account.cshtml")
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"><div id="PostsContainer" class="container-fluid" style="margin-top:5em;"></div></div>
    <div class="col-md-4"></div>
</div>



@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>*@
<script src="~/Scripts/My_Scripts/Modals.js"></script>
<script src="~/Scripts/My_Scripts/Post.js"></script>
<script src="~/Scripts/My_Scripts/Utils.js"></script>
<script src="~/Scripts/My_Scripts/Comment.js"></script>
<script src="~/Scripts/My_Scripts/RatingButtons.js"></script>
<script>
    
</script>

